body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

nav {
	padding-top: 20px;
	margin-bottom: 10px;
}

.container {
	margin: auto;
	overflow: hidden;
}

.button {
	padding: 10px 16px;
	font-size: 14px;
	border: none;
	background-color: rgb(248, 249, 250);
	border-radius: 5px;
	box-sizing: border-box;
	color: #3c4043;
}

.button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
	margin-bottom: -0.5px;
}

.clr {
	clear: both;
}

#left-header {
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}

#right-header {
	float: right;
	padding-right: 20px;
}

#left-header a {
	padding: 7px;
	font-size: 14px;
}

#right-header a {
	padding: 7px;
	font-size: 14px;
}

#right-header .button {
	padding: 10px 20px;	
}


#logo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#logobox {
	position: relative;
	max-height: 132px;
}

#logo img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	object-position: center bottom;
	width: auto;
	height: 132px;
}

#searchbar {
	display: flex;
	justify-content: center;
	border-color: lightgray;
	border-radius: 25px;
	padding: 15px 0px;
}

#searchbar:hover {
	filter: drop-shadow(0px 0px 9px silver);
	border-color: transparent;
}

#searchbar input {
	width: 550px;
	height: 20px;
	padding: 1%;
	border-radius: 25px;
	border-style: solid;
	border-color: lightgray;
	border-width: 1px;
	font-size: 18px;
}

#searchbar:hover input {
	border-color: white;
}

#textentry {
	background-image: url(../images/mag.png);
	background-origin: content-box;
	background-position: left;
	background-size: 18px;
	background-repeat: no-repeat;
	border-radius: 8px;
	text-indent: 5%;
}


#button-div {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#button-div .button {
	margin: 0 6px;
	border-color: rgb(248, 249, 250);
	border-style: solid;
	border-width: 1px;
}

#button-div .button:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}

footer {
	background: #f2f2f2;
	font-size: 15px;
	color: #70757a;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer p {
	padding-left: 30px;

}

footer hr {
	border: 0.5px solid #dadce0;
}

footer a {
	color: #70757a;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#bottom-footer {
	display: flex;
}

#left-footer {
	flex: 1;
	justify-content: center;
	text-align: center;
	padding: 8px 0px;
}

#mid-footer {
	flex: 1;
	justify-content: center;
	text-align: center;
	padding: 8px 0px;
}

#mid-footer img {
	height: 15px;
	padding: 0;
}

#mid-footer a {
	text-align: center;
	margin-left: 0;
}

#right-footer {
	flex: 1;
	justify-content: center;
	text-align: center;
	padding: 8px 0px;
}


/*
Two layer footer screensize
*/
@media (max-width: 1200px) {
	#bottom-footer {
		display: flex;
		flex-wrap: wrap;
	}

	#left-footer {
		order: 1;
		min-width: 30%;
		justify-content: flex-start;
	}

	#mid-footer {
		order: 0;
		flex-basis: 100%;
		justify-content: center;
	}

	#right-footer {
		order: 1;
		min-width: 30%;
		justify-content: flex-end;
	}

}

/*
Three layer footer and smaller search bar
*/
@media (max-width:  611px) {
	#searchbar input {
		height: 25px;
		max-width: 500px;
	}

	#bottom-footer {
		display: flex;
		flex-wrap: wrap;
	}

	#left-footer {
		order: 1;
		flex-basis: 100%;
		justify-content: flex-start;
	}

	#mid-footer {
		order: 0;
		flex-basis: 100%;
		justify-content: center;
	}

	#right-footer {
		order: 2;
		flex-basis: 100%;
		justify-content: flex-end;
	}
}